mat-toolbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .logoContainer{
    cursor: pointer;
  }

  .tabs{
  }

  .userContainer{
    margin-left: 5px;
    button{
      margin-left: 4px;
    }
  }
}
