<mat-toolbar class="container" color="primary">
  <div class="logoContainer" [routerLink]="['/', 'dashboard', 'resumes']" >Recruitment App</div>

  <div class="userContainer" [appIsLogged]="true" (click)="logout()">
    <button mat-raised-button>Wyloguj</button>
  </div>
  <div class="userContainer" [appIsLogged]="false" (click)="login()">
    <button mat-raised-button>Zaloguj</button>
  </div>
</mat-toolbar>

<!-- <div class="tabs">
  <div mat-tab-nav-bar>
    <a mat-tab-link
      #el="routerLinkActive"
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      [active]="el.isActive">
      {{link.name}}
    </a>
  </div>
</div> -->
