.container{
  display: flex;
  margin-top: 20px;
  padding: 0 10px;

  form{
    display: flex;
    flex-flow: column;
    mat-form-field{
      margin-bottom: 10px;
    }
  }
  .btnContainer{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: auto;
  }

}
