<div class="container">
  <form [formGroup]="form">

    <mat-form-field
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailCtrl"
        placeholder="Email"
      >
      <mat-error *ngIf="emailCtrl.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="emailCtrl.errors?.email">Email is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordCtrl"
        placeholder="Password"
      >
      <mat-error *ngIf="passwordCtrl.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="passwordCtrl.errors?.minlength">Password is too short</mat-error>
    </mat-form-field>

    <mat-form-field
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Repeat Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="confirmPasswordCtrl"
        placeholder="Password"
      >
      <mat-error *ngIf="confirmPasswordCtrl.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="confirmPasswordCtrl.errors?.minlength">Password is too short</mat-error>
    </mat-form-field>

    <mat-radio-group [formControl]="roleCtrl" name="role">
      <mat-radio-button
        *ngFor="let role of roles$|async"
        [value]="role.id"
      >{{role.name}}</mat-radio-button>
    </mat-radio-group>
  </form>

  <div class="btnContainer">
    <button
      mat-raised-button
      [disabled]="locked"
      (click)="register()"
      color="primary"
      cdkFocusInitial
    >Register</button>
  </div>
</div>
