<div class="filtersContainer">
  <app-resume-filter></app-resume-filter>
</div>
<div class="container">
  <div class="header">
    <div class="title">
      List of available resumes
    </div>
  </div>
  <mat-nav-list *ngIf="(resumes$|async) as resumes; else loader" >
    <mat-list-item *ngFor="let resume of resumes" [routerLink]="[resume.id]">
      <img matListAvatar [src]="resume.avatar" />

      <div mat-line class="head">
        <div class="name">
          {{ resume.name }}
        </div>
        <div class="city">
          {{ resume.city }}
        </div>
      </div>
      <div mat-line class="details">
        <div class="description">
          {{ resume.description }}
        </div>
        <div class="skillsContainer">
          <div class="skill" *ngFor="let skill of resume.skills">{{skill}}</div>
        </div>
      </div>

      <mat-divider></mat-divider>
    </mat-list-item>

    <ng-container *ngIf="!resumes[0]" [ngTemplateOutlet]="empty"></ng-container>
  </mat-nav-list>
</div>

<ng-template #empty>
  <div class="emptyContainer">
    <div class="main">We don't have any resumes yet!</div>
    <div class="subText">Please try again later</div>
  </div>
</ng-template>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
