mat-list{
  mat-list-item{
    cursor: pointer;
    &:hover{
      background-color: #eee;
    }
  }
}

.emptyContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  button{
    margin-top: 10px;
  }
}

mat-card-title{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
