.container {
  padding: 15px;
  display: flex;
  .header{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    mat-form-field {
      margin-left: 12px;
      flex: 1;
    }
  }
}
.activeFilter {
}

.skills {
  display: flex;

  .skill {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    min-width: 50px;
    .switch {
      width: 10px;
      height: 5px;
      border-radius: 4px;
      background-color: red;
      &.active {
        background-color: green;
      }
    }
  }
}
