<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailCtrl"
        placeholder="Email"
      >
    </mat-form-field>

    <mat-form-field
      class="example-full-width"
      appearance="fill"
    >
      <mat-label>Password</mat-label>
      <input
        type="email"
        matInput
        [formControl]="passwordCtrl"
        placeholder="Password"
      >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    (click)="login()"
    color="primary"
    cdkFocusInitial
  >Login</button>
</mat-dialog-actions>
